#container {
  text-align: center;
}

#container > div {
  display: inline-block;
}

#output {
  display: inline-block;
  text-align: left;
  letter-spacing: 8px;
  font-size: 32px;
  border: 2px solid transparent;
  margin: 0;
  padding: 10px 10px 10px 18px;
}

#outputContainer {
  width: 75%;
}

#inputWordsContainer {
  display: inline-block;
  vertical-align: top;
}
